.card {
    width: 15rem;
    padding: 5px;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: rgb(255, 255, 255)
}


.poster img {
    width: 15rem;
}


.info {
    display: flex;
    justify-content: space-between;
}


